.counter{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.counter__title {
    font-size: 60px;
  }
  
  .counter__title--increment {
    color: var(--color-button-increment);
  }
  .counter__title--decrement {
    color: var(--color-button-decrement);
  }
  

.buttons{
    display: flex;
}

.button {
    width: 180px;
    height: 45px;
    background-color: var(--color-button-default);
    font-weight: bold;
    text-transform: uppercase;
    border:none;
    cursor: pointer;
    margin:5px;
    color:var(--color-white)
}


.button--increment{
    background-color: var(--color-button-increment);
}

.button--increment:hover {
    background-color: var(--color-button-increment-hover);
  }

.button--decrement{
    background-color: var(--color-button-decrement);
}

.button--decrement:hover{
    background-color: var(--color-button-decrement-hover);
}